[Unit]
Description=Battery alert service

[Service]
Type=oneshot
ExecStart=/home/eugene/.scripts/battery-alert.sh

[Install]
WantedBy=multi-user.target