[Unit]
Description=Run battery alert script periodically

[Timer]
OnCalendar=*:0/5  # Run every 5 minutes
AccuracySec=1min

[Install]
WantedBy=timers.target