[Unit]
Description=Start-up Routine

[Service]
Type=simple
EnvironmentFile=$HOME/.env
ExecStart=$HOME/.scripts/on-start-up.sh

[Install]
WantedBy=default.target
