[Unit]
Description=Start-up Routine

[Service]
Type=simple
ExecStart=/bin/zsh $SCRIPTS_PATH.scripts/on-start-up.sh

[Install]
WantedBy=default.target
