*
.*
!.gitignore
!.env
!.zshrc
!.zshfn
!.zshfn/**
!.scripts
!.scripts/**
!.icons
!.icons/**
!.config
!.config/hypr
!.config/hypr/hyprland.conf
!.config/kitty
!.config/kitty/kitty.conf
!.config/autokey
!.config/autokey/**/*
.config/autokey/autokey.json~
!.config/vivaldi-snapshot/**/*
!.config/systemd
!.config/systemd/user
!.config/systemd/user/start-up-routine.service
