[user]
	name = Eugene Shtoka
	email = eshtoka@gmail.com

[includeIf "gitdir/i:~/dev/work/"]
    path = ~/dev/work/.gitconfig

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	
[init]
	defaultBranch = main
