*
.*
!.gitignore
!.gitconfig
!.zshrc
!.xprofile
!.env
!aliases.zsh
!.zshfn
!.zshfn/**
!.scripts
!.scripts/**
!.icons
!.icons/**
!dev
!dev/work
dev/work/.env
!dev/work/.gitconfig
!.config
!.config/alacritty
!.config/alacritty/alacritty.toml
!.config/gtk-3.0
!.config/gtk-3.0/settings.ini
!.config/dbus-1
!.config/dbus-1/services
!.config/dbus-1/services/**/*
!.config/i3
!.config/i3/config
!.config/dunst
!.config/dunst/dunstrc
!.config/copyq
!.config/copyq/copyq-commands.ini
!.config/copyq/copyq-filter.ini
!.config/copyq/copyq.conf
!.config/copyq/themes
!.config/copyq/themes/*.ini
!.config/autokey
!.config/autokey/data
!.config/autokey/data/**/*
!.config/autokey/autokey.json
!.config/vivaldi
!.config/vivaldi/styles
!.config/vivaldi/styles/**/* 
!.config/systemd
!.config/systemd/user
!.config/systemd/user/start-up-routine.service
!.config/qBittorrent
!.config/qBittorrent/qBittorrent.conf
!.config/Mailspring
!.config/Mailspring/keymap.json
!.config/fontconfig
!.config/fontconfig/fonts.conf
!.vscode
!.vscode/argv.json