SUBSYSTEM=="power_supply", ATTR{online}=="1", RUN+="/home/eugene/.scripts/charger-connected.sh"
SUBSYSTEM=="power_supply", ATTR{online}=="0", RUN+="/home/eugene/.scripts/charger-disconnected.sh"
